<div class="flex h-screen bg-base-200 text-base-content">
  <div class="m-auto">
    <div class="authBlock bg-white p-8 rounded-lg shadow-lg">
      <h3 class="text-xl font-semibold mb-4">Thank You for Registering</h3>
      @if (authService.userData; as user) {
        <div class="formGroup">
          <p class="text-center">
            We have sent a confirmation email to <strong>{{ user.email }}</strong>.
          </p>
          <p class="text-center">
            Please check your email and click on the link to verify your email address.
          </p>
        </div>
      }

      <div class="formGroup text-center">
        <button
          type="button"
          class="btn btn-primary mt-4"
          (click)="authService.SendVerificationMail()"
          >
          <i class="fas fa-redo-alt mr-2"></i> Resend Verification Email
        </button>
      </div>
    </div>
    <div class="redirectToLogin text-center mt-4">
      <span>Go back to? <a href="/sign-in" class="link link-primary">Sign in</a></span>
    </div>
  </div>
</div>
